name: TrixieOS ISO

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y grub-pc-bin grub-common xorriso wget

      - name: Prepare ISO structure
        run: |
          mkdir -p iso/boot/grub

          wget https://dl-cdn.alpinelinux.org/alpine/v3.20/releases/x86_64/netboot/vmlinuz-lts -O iso/boot/vmlinuz
          wget https://dl-cdn.alpinelinux.org/alpine/v3.20/releases/x86_64/netboot/initramfs-lts -O iso/boot/initrd

          echo 'set timeout=5' > iso/boot/grub/grub.cfg
          echo 'set default=0' >> iso/boot/grub/grub.cfg
          echo 'menuentry "TrixieOS - ProjectA tarafından yapıldı" {' >> iso/boot/grub/grub.cfg
          echo '  linux /boot/vmlinuz' >> iso/boot/grub/grub.cfg
          echo '  initrd /boot/initrd' >> iso/boot/grub/grub.cfg
          echo '}' >> iso/boot/grub/grub.cfg

      - name: Build ISO
        run: |
          grub-mkrescue -o TrixieOS.iso iso

      - name: Upload ISO
        uses: actions/upload-artifact@v4
        with:
          name: TrixieOS-ISO
          path: TrixieOS.iso
