name: TrixieOS ISO

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y grub-pc-bin grub-common xorriso wget tar

      - name: Download Alpine netboot
        run: |
          wget https://dl-cdn.alpinelinux.org/alpine/v3.23/releases/x86_64/alpine-netboot-3.23.2-x86_64.tar.gz
          mkdir netboot
          tar -xzf alpine-netboot-3.23.2-x86_64.tar.gz -C netboot

      - name: Prepare ISO structure
        run: |
          mkdir -p iso/boot/grub
          cp netboot/vmlinuz-lts iso/boot/vmlinuz
          cp netboot/initramfs-lts iso/boot/initrd

          echo 'set timeout=5' > iso/boot/grub/grub.cfg
          echo 'set default=0' >> iso/boot/grub/grub.cfg
          echo 'menuentry "TrixieOS - ProjectA tarafından yapıldı" {' >> iso/boot/grub/grub.cfg
          echo '  linux /boot/vmlinuz' >> iso/boot/grub/grub.cfg
          echo '  initrd /boot/initrd' >> iso/boot/grub/grub.cfg
          echo '}' >> iso/boot/grub/grub.cfg

      - name: Build ISO
        run: |
          grub-mkrescue -o TrixieOS.iso iso

      - name: Upload ISO
        uses: actions/upload-artifact@v4
        with:
          name: TrixieOS-ISO
          path: TrixieOS.iso
